.navbar.top {
    height: 60px;
    border-bottom: 2px solid $white;
    a.navbar-brand {
        font-size: $ts-normal;
        text-transform: capitalize;
        height: 68px;
    }
    input {
        height: 35px;
        width: 25rem;
        font-size: $ts-normal;
    }
    .btn {
        // border-radius: 0;
        padding: 0 1.5rem;
    }
}