doctype 
html
    head
        title= title 
        link(href="/public/dist/styles.bundle.css" rel="stylesheet")
    body 
        h1= title

        script(src="/public/dist/main.bundle.js")
        