doctype 
html
    head
        title= title 
        link(href="/public/dist/styles.bundle.css" rel="stylesheet")
        link(href="/public/dist/icofont.min.css" rel="stylesheet")
    body 
        block content
        script(src="/public/dist/main.bundle.js")