mixin banner 
    .container 
        .jumbotron
            .row 
                .col-12 
                    //- h1.display-3.text-capitalize= title
                    //- p Peliculas, Series, Programas, Juegos y Más ... 