mixin top
    nav.navbar.top.navbar-expand-lg.navbar-dark
        .container.d-flex.justify-content-around
            a.navbar-brand.me-auto.mb-2.mb-lg-0(href="#")
                img(src="/public/img/logo-blue.png")
            .search.d-flex.align-items-center.justify-content-center
                .icons 
                    ul.navbar-nav 
                        li.nav-item 
                            a.nav-link(href="#")
                                i.icofont.icofont-game.icofont-2x
                        li.nav-item 
                            a.nav-link(href="#")
                                i.icofont.icofont-movie.icofont-2x
                        li.nav-item 
                            a.nav-link(href="#")
                                i.icofont.icofont-ui-video.icofont-2x
                form.d-flex
                    input.form-control(type="search" placeholder="Search" aria-label="Search")
                    button.btn.btn-orange(type="submit") 
                        i.icofont.icofont-search
                